APP_NAME=apis_nova
APP_ENV=development
APP_PORT=8080
SHUTDOWN_TIMEOUT=10s

DB_ENABLED=false
DB_DRIVER=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=apis_nova
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

APP_DOMAIN=api.tu-dominio.com
